@font-face {
    font-family: syndicat_groteskregular;
    src: local('syndicat_groteskregular'), url(sources/fonts/syndicatgrotesk-regular-webfont.woff) 
         format('woff'),
         local('syndicat_groteskregular'), url(sources/fonts/syndicatgrotesk-regular-webfont.woff2) format('woff2');

    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: syndicat_groteskRgIt;
    src: local('syndicat_groteskRgIt'), url(sources/fonts/syndicatgrotesk-regularitalic-webfont.woff) 
         format('woff'),
         local('syndicat_groteskRgIt'), url(sources/fonts/syndicatgrotesk-regularitalic-webfont.woff2) format('woff2');

    font-weight: 700;
    font-style: normal;

}



@mixin fontSize($sizeValue){
    font-size: $sizeValue * 1px;
    font-size: calc($sizeValue/10) * 1rem;
}

html {
    scroll-behavior: smooth;
    background: #FFFFFF;
}
body {
    margin: 0 !important;
    overflow-x: hidden;
    font-family: syndicat_groteskregular, sans-serif;
}
span {
    font-family: syndicat_groteskRgIt, sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
a {
    color: black;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
figure {
    margin: 0;
}
.flex {
    display: flex;
    flex-flow:wrap;
    justify-content: space-between;
}
.main {
    position: relative;
    width: calc(100% - 60px);
    margin: 0 auto;
    height: calc(100vh - 80px);
    overflow: hidden;
    margin-top: 30px;
    border: 1px solid black;
    img {
        position: absolute;
        width: 100%;
        height: 100vh;
        object-fit: cover;
       
    }
    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include fontSize(80);
        color: #FFFFFF;
        width: 100%;
        text-align: center;
        margin: 0;
        font-weight: 300;
        cursor: default;
        }
}
.info {
    @extend .flex;
    height: 30px;
    width: calc(100% - 60px);
    margin: 0 auto;
    align-items: center;
    margin-top: 5px;
    @include fontSize(12);
    p {
        margin: 0;
    }
}
.fadeTransition {
    transition: opacity 0.5s ease-in-out;
  }
  
@media(max-width: 670px){
    .main {

        h1 {
            @include fontSize(50);
        }
        height: calc(100dvh - 110px);
        width: 100%;
        border: none;
        margin-top: 0;
    }
    .info {
        margin-bottom: 20px;
        margin-top: 20px;
        a, p {
            width: 100%;
            @include fontSize(11);
        }
    }
}
@media(max-width: 420px){
    .main {
        h1 {
            @include fontSize(40);
        }
    }
}


